# Apple seriously, comon
._*
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Icon?
Thumbs.db

# Vim, you are no longer cool
*~

# JetBrains IDE configuration files
.idea/

# Bundler
Gemfile.lock
.gems/
.bundle/

# Files compiled from templates
*.xml
